
.form{
    background-size: cover;
    
}
.form-control{
    /* border: 2px solid black; */
    color: transparent !important;
}

@media (max-width:480px) {
    .form-1{
        width: 600px !important;
    }
}
