#form{
    min-width: 450px !important;
    width: 500px !important;
    border-radius: 25px;
}
body{
    display: flex;
    justify-content: center;
}
.container1{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

/* .a{
    padding: 8px;
    cursor: pointer;
    border-radius: 18px;
}
.a:hover{
    background-color: rgb(192, 158, 114);

} */

@media (max-width:480px) {
    #form{
        min-width: 480px;
    }
    .form-control{
        width: 90%;
    }
    .login-form{
    scale: 0.8;
    margin-top: -10%;
    }
    .reg-form{
        scale: 0.7;
        margin-top: -10%;
    }
    .log-img{
        scale: 0.7;
        margin-top: -15%;
    }
    .res-top{
        margin-top: -16%;
    }
    .reg-img{
        scale: 0.8;
        margin-top: -17%;
    }

    
}
